@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ht2iml');
  src:  url('fonts/icomoon.eot?ht2iml#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ht2iml') format('truetype'),
    url('fonts/icomoon.woff?ht2iml') format('woff'),
    url('fonts/icomoon.svg?ht2iml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e900";
}
.icon-single-election:before {
  content: "\e901";
}
.icon-guidepost:before {
  content: "\e903";
}
.icon-address:before {
  content: "\e904";
}
.icon-phone .path1:before {
  content: "\e905";
  color: rgb(227, 250, 255);
}
.icon-phone .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 140, 167);
}
.icon-password .path1:before {
  content: "\e907";
  color: rgb(227, 250, 255);
}
.icon-password .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 140, 167);
}
.icon-graphic-code .path1:before {
  content: "\e909";
  color: rgb(227, 250, 255);
}
.icon-graphic-code .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 140, 167);
}
.icon-unselected:before {
  content: "\e90b";
}
.icon-message:before {
  content: "\e90c";
}
.icon-navigation:before {
  content: "\e90d";
}
.icon-selected:before {
  content: "\e90e";
}
