$color-f5: #f5f5f5;
$color-35: #353535;
$color-88: #888888;
$color-ff: #ffffff;
$color-e5: #e5e5e5;
$color-00: #000000;
$color-008CA7: #008CA7;
$color-1E8FA5: #1E8FA5;
$color-gradient:linear-gradient(-32deg, rgb(0, 140, 167), rgb(47, 180, 206));
img {
  content: normal !important
}

* {
  margin: 0
}

html,
body,
#app {
  height: 100% // touch-action none // 当你触摸并按住触摸目标时候，禁止系统默认菜单
}

body {
  background-color: #f5f5f5
}

input,
button,
textarea,
select {
  // background: none;
  outline: none;
  border: 0px;
  // appearance: none;
}

select {
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  /*将背景改为红色*/
  background: $color-ff;
  /*加padding防止文字覆盖*/
  /* padding-right: 14px; */
}

select::-ms-expand {
  /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

//去除input类型为number的默认样式
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}